.form-item {
    margin-bottom: 16px;
    color: var(--semi-color-text-0);
}

.label {
    color: var(--semi-color-text-0);
    padding-bottom: 6px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}
