html[data-theme="light"] {
    --c-B50: #f0f4ff;
    --c-B100: #e1eaff;
    --c-B200: #bacefd;
    --c-B300: #82a7fc;
    --c-B400: #4e83fd;
    --c-B500: #3370ff;
    --c-B600: #245bdb;
    --c-B700: #1c4cba;
    --c-B800: #133c9a;
    --c-B900: #0c296e;
    --c-W50: #ecf9fe;
    --c-W100: #d9f3fd;
    --c-W200: #b1e8fc;
    --c-W300: #7edafb;
    --c-W400: #50cefb;
    --c-W500: #14c0ff;
    --c-W600: #049fd7;
    --c-W700: #037eaa;
    --c-W800: #006185;
    --c-W900: #004761;
    --c-P50: #f6f1fe;
    --c-P100: #ece2fe;
    --c-P200: #cdb2fa;
    --c-P300: #ad82f7;
    --c-P400: #935af6;
    --c-P500: #7f3bf5;
    --c-P600: #6425d0;
    --c-P700: #4e1ba7;
    --c-P800: #380d82;
    --c-P900: #270561;
    --c-Y50: #fdf9ed;
    --c-Y100: #faf1d1;
    --c-Y200: #f8e6ab;
    --c-Y300: #f7dc82;
    --c-Y400: #fad355;
    --c-Y500: #ffc60a;
    --c-Y600: #dc9b04;
    --c-Y700: #aa7803;
    --c-Y800: #795101;
    --c-Y900: #5c3a00;
    --c-R50: #fef1f1;
    --c-R100: #fde2e2;
    --c-R200: #fbbfbc;
    --c-R300: #f98e8b;
    --c-R400: #f76964;
    --c-R500: #f54a45;
    --c-R600: #d83931;
    --c-R700: #ac2f28;
    --c-R800: #812520;
    --c-R900: #621c18;
    --c-O50: #fff5eb;
    --c-O100: #feead2;
    --c-O200: #fed4a4;
    --c-O300: #ffba6b;
    --c-O400: #ffa53d;
    --c-O500: #f80;
    --c-O600: #de7802;
    --c-O700: #b26206;
    --c-O800: #8f4f04;
    --c-O900: #6b3900;
    --c-T50: #eafaf8;
    --c-T100: #d5f6f2;
    --c-T200: #a9efe6;
    --c-T300: #64e8d6;
    --c-T400: #14e1c6;
    --c-T500: #00d6b9;
    --c-T600: #04b49c;
    --c-T700: #078372;
    --c-T800: #036356;
    --c-T900: #024b41;
    --c-G50: #f0fbef;
    --c-G100: #d9f5d6;
    --c-G200: #b7edb1;
    --c-G300: #8ee085;
    --c-G400: #62d256;
    --c-G500: #34c724;
    --c-G600: #2ea121;
    --c-G700: #237b19;
    --c-G800: #186010;
    --c-G900: #124b0c;
    --c-N00: #fff;
    --c-N50: #f5f6f7;
    --c-N100: #f2f3f5;
    --c-N200: #eff0f1;
    --c-N300: #dee0e3;
    --c-N400: #bbbfc4;
    --c-N500: #8f959e;
    --c-N600: #646a73;
    --c-N650: #51565d;
    --c-N700: #373c43;
    --c-N800: #2b2f36;
    --c-N900: #1f2329;
    --c-N1000: #000;
    --c-L50: #f7fae5;
    --c-L100: #eef6c6;
    --c-L200: #dfee96;
    --c-L300: #d2e76a;
    --c-L400: #c3dd40;
    --c-L500: #b3d600;
    --c-L600: #8fac02;
    --c-L700: #667901;
    --c-L800: #495700;
    --c-L900: #354200;
    --c-C50: #fef1f8;
    --c-C100: #fdddef;
    --c-C200: #f9aed9;
    --c-C300: #f57ac0;
    --c-C400: #f14ba9;
    --c-C500: #f01d94;
    --c-C600: #c71077;
    --c-C700: #9e1361;
    --c-C800: #7a0f4b;
    --c-C900: #520a32;
    --c-V50: #fceefc;
    --c-V100: #f8def8;
    --c-V200: #efb9ef;
    --c-V300: #e58fe5;
    --c-V400: #db66db;
    --c-V500: #d136d1;
    --c-V600: #b220b2;
    --c-V700: #8c218c;
    --c-V800: #681268;
    --c-V900: #460b46;
    --c-I50: #f2f3fd;
    --c-I100: #e0e2fa;
    --c-I200: #b4b9f3;
    --c-I300: #7b83ea;
    --c-I400: #616ae5;
    --c-I500: #4954e6;
    --c-I600: #2933c7;
    --c-I700: #161fa2;
    --c-I800: #0a1285;
    --c-I900: #0c1264;
}

html[data-theme="dark"] {
    --c-B50: #151f33;
    --c-B100: #192a4c;
    --c-B200: #203e78;
    --c-B300: #2851a3;
    --c-B400: #2e65d1;
    --c-B500: #4c88ff;
    --c-B600: #70a0ff;
    --c-B700: #9bf;
    --c-B800: #b8cfff;
    --c-B900: #cedfff;
    --c-W50: #142930;
    --c-W100: #173742;
    --c-W200: #225b70;
    --c-W300: #2782a3;
    --c-W400: #2ea5d1;
    --c-W500: #42bdeb;
    --c-W600: #5fd4fe;
    --c-W700: #89dffe;
    --c-W800: #c2eeff;
    --c-W900: #def6ff;
    --c-P50: #281745;
    --c-P100: #361d61;
    --c-P200: #4d2691;
    --c-P300: #6533bd;
    --c-P400: #7c4ad4;
    --c-P500: #9762f5;
    --c-P600: #a472fc;
    --c-P700: #b990ff;
    --c-P800: #d3bafd;
    --c-P900: #e3d4ff;
    --c-Y50: #382e0c;
    --c-Y100: #574711;
    --c-Y200: #8f7211;
    --c-Y300: #c99d08;
    --c-Y400: #f0bb0a;
    --c-Y500: #fac823;
    --c-Y600: #fcd456;
    --c-Y700: #ffde75;
    --c-Y800: #ffe694;
    --c-Y900: #fcefc2;
    --c-R50: #361918;
    --c-R100: #4a1d1b;
    --c-R200: #6b2827;
    --c-R300: #9e3836;
    --c-R400: #cc4743;
    --c-R500: #f05b56;
    --c-R600: #fa7873;
    --c-R700: #ff9c99;
    --c-R800: #fec6c3;
    --c-R900: #ffe0e0;
    --c-O50: #33210b;
    --c-O100: #57330a;
    --c-O200: #845117;
    --c-O300: #bd7017;
    --c-O400: #de8218;
    --c-O500: #f2962c;
    --c-O600: #f5a54a;
    --c-O700: #fabc75;
    --c-O800: #ffd8ac;
    --c-O900: #ffeace;
    --c-T50: #162e2b;
    --c-T100: #153d38;
    --c-T200: #23665d;
    --c-T300: #269687;
    --c-T400: #37b8a6;
    --c-T500: #41ccb9;
    --c-T600: #5cdbca;
    --c-T700: #7febdc;
    --c-T800: #b7f7ef;
    --c-T900: #daf9f5;
    --c-G50: #193016;
    --c-G100: #1f471b;
    --c-G200: #296b22;
    --c-G300: #339428;
    --c-G400: #3bb02e;
    --c-G500: #54c248;
    --c-G600: #6dd162;
    --c-G700: #92de89;
    --c-G800: #bdf0b8;
    --c-G900: #d6f5d2;
    --c-N00: #0a0a0a;
    --c-N50: #1a1a1a;
    --c-N100: #292929;
    --c-N200: #373737;
    --c-N300: #434343;
    --c-N400: #5f5f5f;
    --c-N500: #757575;
    --c-N600: #a6a6a6;
    --c-N650: #cfcfcf;
    --c-N700: #e0e0e0;
    --c-N800: #e8e8e8;
    --c-N900: #ebebeb;
    --c-N1000: #fff;
    --c-L50: #2e3605;
    --c-L100: #495706;
    --c-L200: #6d8205;
    --c-L300: #91ad02;
    --c-L400: #abc912;
    --c-L500: #b9d627;
    --c-L600: #c7e04d;
    --c-L700: #d6ea75;
    --c-L800: #e7f5a6;
    --c-L900: #f6ffcc;
    --c-C50: #421b31;
    --c-C100: #5c2542;
    --c-C200: #91376a;
    --c-C300: #ad407e;
    --c-C400: #cc4792;
    --c-C500: #e352a3;
    --c-C600: #ed66b3;
    --c-C700: #ff91cf;
    --c-C800: #ffbde2;
    --c-C900: #ffdbef;
    --c-V50: #3b153b;
    --c-V100: #4f1c4f;
    --c-V200: #7a287a;
    --c-V300: #943b94;
    --c-V400: #b54ab5;
    --c-V500: #d457d4;
    --c-V600: #de73de;
    --c-V700: #e898e8;
    --c-V800: #f2bff2;
    --c-V900: #fbdafb;
    --c-I50: #1d1f47;
    --c-I100: #262a5e;
    --c-I200: #353b8c;
    --c-I300: #4149b5;
    --c-I400: #4c55d4;
    --c-I500: #5f69ed;
    --c-I600: #737beb;
    --c-I700: #9ea5ff;
    --c-I800: #bbc0f6;
    --c-I900: #d2d5fd;
}
